In [9]:
import pandas as pd
import requests
import time
import aiohttp
import asyncio
import numpy as np

In [26]:
df = pd.read_csv('new_small_data.csv')

In [5]:
print(df.dtypes)

gamePk                    int64
gameDate                 object
inning                    int64
halfInning               object
eventType                object
batter                   object
pitcher                  object
batSide                  object
pitchHand                object
outs                      int64
balls                     int64
strikes                   int64
pitchType                object
pitchSpeed              float64
strikeZoneTop           float64
strikeZoneBottom        float64
b_avg                   float64
b_atBats                float64
b_obp                   float64
b_slg                   float64
b_ops                   float64
b_stolenbasepercent      object
p_era                   float64
p_whip                  float64
p_outs                  float64
p_strikepercent         float64
p_groundToAirOut        float64
p_strikeoutWalkRatio     object
p_homeRunsPer9          float64
dtype: object

In [24]:
df.head()

,gamePk,gameDate,inning,halfInning,eventType,batter,pitcher,batSide,pitchHand,outs,...,b_slg,b_ops,b_stolenbasepercent,p_era,p_whip,p_outs,p_strikepercent,p_groundToAirOut,p_strikeoutWalkRatio,p_homeRunsPer9
0,413661,2015-04-06T00:05:00Z,1,top,field_out,Matt Carpenter,Jon Lester,Left,Left,1,...,0.372,0.686,.000,4.71,1.51,424.0,0.61,1.18,1.65,1.59
1,413661,2015-04-06T00:05:00Z,1,top,field_out,Matt Carpenter,Jon Lester,Left,Left,1,...,0.372,0.686,.000,4.71,1.51,424.0,0.61,1.18,1.65,1.59
2,413661,2015-04-06T00:05:00Z,1,top,field_out,Matt Carpenter,Jon Lester,Left,Left,1,...,0.372,0.686,.000,4.71,1.51,424.0,0.61,1.18,1.65,1.59
3,413661,2015-04-06T00:05:00Z,1,top,field_out,Matt Carpenter,Jon Lester,Left,Left,1,...,0.372,0.686,.000,4.71,1.51,424.0,0.61,1.18,1.65,1.59
4,413661,2015-04-06T00:05:00Z,1,top,field_out,Matt Carpenter,Jon Lester,Left,Left,1,...,0.372,0.686,.000,4.71,1.51,424.0,0.61,1.18,1.65,1.59

In [28]:
def fill_missing_with_averages(df):
    """Fills missing values in numeric stat columns with their column mean while keeping categorical data untouched."""

    # Define which columns are numerical stats (update as needed)
    numeric_columns = ["p_strikeoutWalkRatio", "b_stolenbasepercent"]  

    # Convert only those columns to numeric, leaving others untouched
    df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

    # Identify **all numeric columns** (actual stats, not categorical ones)
    numeric_stats = df.select_dtypes(include=[np.number]).columns

    # Compute column-wise averages, ignoring NaN values
    column_means = df[numeric_stats].mean(skipna=True)

    # Fill NaN values **only in numeric stat columns**
    df[numeric_stats] = df[numeric_stats].fillna(column_means)

    return df

lf = fill_missing_with_averages(df)

In [32]:
print(df.head(100))

    gamePk              gameDate  inning halfInning  eventType  \
0   413661  2015-04-06T00:05:00Z       1        top  field_out
1   413661  2015-04-06T00:05:00Z       1        top  field_out
2   413661  2015-04-06T00:05:00Z       1        top  field_out
3   413661  2015-04-06T00:05:00Z       1        top  field_out
4   413661  2015-04-06T00:05:00Z       1        top  field_out
..     ...                   ...     ...        ...        ...
95  413661  2015-04-06T00:05:00Z       3     bottom  field_out
96  413661  2015-04-06T00:05:00Z       3     bottom  field_out
97  413661  2015-04-06T00:05:00Z       3     bottom  field_out
98  413661  2015-04-06T00:05:00Z       3     bottom  field_out
99  413661  2015-04-06T00:05:00Z       3     bottom  strikeout

            batter          pitcher batSide pitchHand  outs  ...  b_slg  \
0   Matt Carpenter       Jon Lester    Left      Left     1  ...  0.372
1   Matt Carpenter       Jon Lester    Left      Left     1  ...  0.372
2   Matt Carpenter       Jon Lester    Left      Left     1  ...  0.372
3   Matt Carpenter       Jon Lester    Left      Left     1  ...  0.372
4   Matt Carpenter       Jon Lester    Left      Left     1  ...  0.372
..             ...              ...     ...       ...   ...  ...    ...
95   Dexter Fowler  Adam Wainwright    Left     Right     1  ...  0.250
96   Dexter Fowler  Adam Wainwright    Left     Right     1  ...  0.250
97   Dexter Fowler  Adam Wainwright    Left     Right     1  ...  0.250
98   Dexter Fowler  Adam Wainwright    Left     Right     1  ...  0.250
99     Jorge Soler  Adam Wainwright   Right     Right     2  ...  0.442

    b_ops b_stolenbasepercent  p_era  p_whip  p_outs  p_strikepercent  \
0   0.686                 0.0   4.71    1.51   424.0             0.61
1   0.686                 0.0   4.71    1.51   424.0             0.61
2   0.686                 0.0   4.71    1.51   424.0             0.61
3   0.686                 0.0   4.71    1.51   424.0             0.61
4   0.686                 0.0   4.71    1.51   424.0             0.61
..    ...                 ...    ...     ...     ...              ...
95  0.536                 1.0   7.40    1.90   303.0             0.61
96  0.536                 1.0   7.40    1.90   303.0             0.61
97  0.536                 1.0   7.40    1.90   303.0             0.61
98  0.536                 1.0   7.40    1.90   303.0             0.61
99  0.780                 1.0   7.40    1.90   303.0             0.61

    p_groundToAirOut  p_strikeoutWalkRatio  p_homeRunsPer9
0               1.18                  1.65            1.59
1               1.18                  1.65            1.59
2               1.18                  1.65            1.59
3               1.18                  1.65            1.59
4               1.18                  1.65            1.59
..               ...                   ...             ...
95              0.92                  1.34            1.78
96              0.92                  1.34            1.78
97              0.92                  1.34            1.78
98              0.92                  1.34            1.78
99              0.92                  1.34            1.78

[100 rows x 29 columns]

In [33]:
df.to_csv('new_small_data.csv',index=False)